<nav>
    <a href="/Portfolio/Index">Home</a> |
    <a href="/Portfolio/Education">Education</a> |
    <a href="/Portfolio/Projects">Projects</a> |
    <a href="/Portfolio/Reference">Reference</a>
</nav>
